<component name="libraryTable">
  <library name="spring-tx-5.1.10.RELEASE">
    <CLASSES>
      <root url="jar://$PROJECT_DIR$/LoginDemo/web/WEB-INF/lib/spring-tx-5.1.10.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/LoginDemo/web/WEB-INF/lib/spring-jdbc-5.1.10.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/LoginDemo/web/WEB-INF/lib/spring-core-5.1.10.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/LoginDemo/web/WEB-INF/lib/spring-beans-5.1.10.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/LoginDemo/web/WEB-INF/lib/commons-logging-1.2.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES />
  </library>
</component>